body {
        font-size: 15px;
        font-family: arial;
        background-image: url(img/c.png);
        color: #acacac;
    }
 .container {
    width: 900;
    margin: auto;
    background-color: #eee;
    margin-top: 0;
}

.header .judul1{
margin-left: 10px;
padding-top: 20px;
padding-left:10px;
padding-bottom: 5px;
font-size: 40px;
color:darkblue;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 0px;
text-align:center;
}
.header .judul2{
margin-left: 10px;
padding:5px;
font-size: 25px;
color:darkblue;
font-style: italic;
font-weight: bold;
text-transform: uppercase;
margin-top: 5px;
text-align: center;
}
.header .logo1{
    float:left;
    height: 160px;
    width: 160px;
}
.header .logo2{
    float:right;
    height: 140px;
    width: 140px;
    margin: 8px;
    }
.header ul li{
    display: inline-block;
    text-decoration: none;
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.header ul li a,.content .penulis a,.content .sidebar .artikel_lain ul li a{
    text-decoration: none;
    color: salmon;
}
.header a:hover,.content .penulis a:hover,.content .sidebar .artikel_lain ul li a:hover{
    background-color: lightskyblue;
    color: white;
}
.gambar img{
    background-size: cover;
    border-top: 5px solid darkblue;
    border-bottom: 5px solid salmon;
}
.content{
    margin: 15px;
    font-family: arial;
    width: 900px;
}
.sd{
    font:bold 30px/40px Arial Narrow,arial;
    color:#222;
    text-transform: capitalize;
    text-align: center;
}
.footer{
    text-align: center;
    background-color: #333;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
}
.wrap{
	background: pink;
	width: 100%;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: #E9967A;
	/*height: 50px;*/
	padding: 2px 10px;
}
 /*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: #FFDAB9;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: #D8BFD8;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: #CD5C5C;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: #C0C0C0;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}